@media (min-width: 768px) and (max-width: 992px){
    .menu_container {
       padding:0 10px;
    }
    html{
        font-size:12px;
    }
    .navbar{
        height: 50px;
    }
    .navbar_container{
        padding-left: 65px;
        padding-right: 65px;
    }
    .user_img_container{
        width: 28px;
        height: 28px;
    }
    .sidebar{
        width: 40px;
    }
    .profile_container {
        justify-content: center;
    }
    .menu_container{
        flex: 4;
        justify-content: center;
        /* flex-shrink: 5; */
        /* background-color:blue; */
    }
    .searchBar{
        height:25px;
        width:250px;
        display:flex;
        align-items: center;
        justify-content: center;
        /* background-color:blue; */
        max-width:230px;
        padding: 0 10px;
        column-gap: 8px;
        border-radius:2px;
    }
    .searchBar input{
        height:25px;
        width:90%;
        font-size:1rem;
        text-indent:10px;
    }
    .searchBar i{
        color: var(--white-color);
    }

    .sidebar{
        width: 65px;
    }

    .main_content_container{
        width: 100%;
        padding-left: 50px;
    }
    .movies_container{
        padding: 20px 0 0 35px;
        /* gap: 15px; */
        column-gap: 25px;
        row-gap: 15px;
    }
    
    .movie_card{
        width: 28%;
        height: 270px;
    }
    .movie_card_content{
        padding-top: 170px;
        padding-left: 0px;
    }

    .movie_details{
        padding: 8px;
        transform: scale(0);
        transform-origin: 100% 50%;    
    }
    .movie_title{
        margin-bottom: 2px;
        letter-spacing: 1px;
        font-size:1.2rem;
    }
    .movie_rating{
        display: block;
        margin-bottom: 2px;
        font-size:.9rem; 
    }
    .movie_date{
        font-size:.8rem;
        color: lightgray;
    }

}
/* ************************************************ */
@media (min-width: 641px) and (max-width: 767px){


    html{
        font-size: 10px;
    }

    .navbar_container{
        padding-left: 50px;
        padding-right: 50px;
    }

/************* Searchbar */
    .searchBar{
        height:20px;
        width:250px;
        max-width:110px;
        padding: 0 10px;
        column-gap: 8px;
        border-radius:2px;
    }
    .searchBar input{
        height:20px;
        width:90%;
        font-size:1rem;
        text-indent:2px;
    }
    .searchBar i{
        color: var(--white-color);
    }

/************* Search bar end */
  
    .user_img_container{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        overflow: hidden;
    }




.sidebar{
    width: 50px;
    row-gap:20px;
}
.menu_items{
    row-gap: 7px;
}





/* ************************ */
    .main_content_container{
        width: 100%;
        padding-left: 50px;
    }
    .movies_container{
        padding: 10px;
        gap: 15px;
    }
    
    .movie_card{
        width: 28%;
        height: 220px;
    }
    .movie_card_content{
        padding-top: 150px;
        padding-left: 0px;
    }

    .movie_details{
        padding: 5px;
        transform: scale(0);
        transform-origin: 100% 50%;    
    }
    .movie_title{
        margin-bottom: 2px;
        letter-spacing: 0px;
        font-size:1.2rem;
    }
    .movie_rating{
        display: block;
        margin-bottom: 2px;
        font-size:.9rem; 
    }
    .movie_date{
        font-size:.8rem;
        color: lightgray;
    }
    .movie_details a {
        width: 25px;
        height: 25px;
       
    }

}




/* ************************************************ */

@media (min-width: 481px) and (max-width: 640px){


    html{
        font-size: 10px;
    }

    .navbar_container{
        padding-left: 50px;
        padding-right: 50px;
    }

/************* Searchbar */
    .searchBar{
        height:20px;
        width:250px;
        max-width:110px;
        padding: 0 10px;
        column-gap: 8px;
        border-radius:2px;
    }
    .searchBar input{
        height:20px;
        width:90%;
        font-size:1rem;
        text-indent:2px;
    }
    .searchBar i{
        color: var(--white-color);
    }

/************* Search bar end */
  
    .user_img_container{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        overflow: hidden;
    }

    .sidebar{
        width: 50px;
        row-gap:20px;
    }
    .menu_items{
        row-gap: 7px;
    }


/* ************************ */
    .main_content_container{
        width: 100%;
        padding-left: 50px;
    }
    .movies_container{
        padding: 10px;
        gap: 15px;
    }
    
    .movie_card{
        width: 30%;
        height: 180px;
    }
    .movie_card_content{
        padding-top: 120px;
        padding-left: 0px;
    }

    .movie_details{
        padding: 5px;
        transform: scale(0);
        transform-origin: 100% 50%;    
    }
    .movie_title{
        margin-bottom: 2px;
        letter-spacing: 0px;
        font-size:1rem;
    }
    .movie_rating{
        display: block;
        margin-bottom: 2px;
        font-size:.8rem; 
    }
    .movie_date{
        font-size:.7rem;
        color: lightgray;
    }
    .movie_details a {
        width: 25px;
        height: 25px;
       
    }

}





/* ************************************************ */

@media (max-width: 480px) {

    html{
        font-size: 10px;
    }

    .navbar_container{
        padding-left: 50px;
        padding-right: 50px;
    }

/************* Searchbar */
    .searchBar{
        height:20px;
        width:250px;
        max-width:110px;
        padding: 0 10px;
        column-gap: 8px;
        border-radius:2px;
    }
    .searchBar input{
        height:20px;
        width:90%;
        font-size:1rem;
        text-indent:2px;
    }
    .searchBar i{
        color: var(--white-color);
    }

/************* Search bar end */
  
    .user_img_container{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        overflow: hidden;
    }

/* ************** sideBar */


.sidebar{
    width: 50px;
    row-gap:20px;
}
.menu_items{
    row-gap: 7px;
}

/* ******* sideBar end */



/* ************************ */
    .main_content_container{
        width: 100%;
        padding-left: 50px;
    }
    .movies_container{
        padding: 10px;
        gap: 15px;
    }
    
    .movie_card{
        width: 27%;
        height: 120px;
    }
    .movie_card_content{
        padding-top: 70px;
        padding-left: 0px;
    }

    .movie_details{
        padding: 5px;
        transform: scale(0);
        transform-origin: 100% 50%;    
    }
    .movie_title{
        margin-bottom: 2px;
        letter-spacing: 0px;
        font-size:1rem;
    }
    .movie_rating{
        display: block;
        margin-bottom: 2px;
        font-size:.8rem; 
    }
    .movie_date{
        font-size:.6rem;
        color: lightgray;
    }
    .movie_details a {
        width: 20px;
        height: 20px;
       
    }

}