@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700;900&display=swap');
/* font-family: 'Bebas Neue', cursive;
font-family: 'Roboto', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root{
    --black-color: #000;
    --black-color-light:#151515;
    --white-color:  #E0BB20;
    --off-white:#e1e1e1;
}


.navbar{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index:9;
    /* border: 1px solid yellow; */
    background-color: var(--black-color);
}
.navbar_container{
    display:flex;
    align-items: center;
    height: 100%;
    justify-content:space-between;
    /* background-color: red; */
    padding: 0 50px;
    color:var(--white-color)
}
.logo_container{
    /* background-color: yellow; */
    margin-right:10px;
}
.logo{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}
.menu_container{
    /* flex: 4; */
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    /* background-color:blue; */
}
.searchBar{
    background-color:#151515;
    height:30px;
    width:450px;
    max-width:280px;
    padding: 0 10px;
    display:flex;
    align-items:center;
    column-gap: 20px;
    border-radius:2px;
    overflow:hidden;
}
.searchBar input{
    height:30px;
    width:90%;
    font-size:1rem;
    border: none;
    outline: none;
    color: #fff;
    background-color:#151515;
    text-indent: 5px;
}
.searchBar i{
    color: var(--white-color);
    cursor: pointer;
    font-weight: bold;
}
.menu_list{
    display: flex;
}
.menu_list_item{
    list-style: none;
    margin-left:40px;
}
.menu_list_item a {
    text-decoration: none;
    font-family: 'Sen', sans-serif;
    color:var(--off-white);
}

.user_img_container{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.user_img_container img{
    width: 100%;
    object-fit: cover;
    height: auto;
}

/* ******************************************* */
/* .sidebar{
    width: 80px;
    height: 100%;
    background-color: var(--black-color);
    position:fixed;
    color: rgba(255, 255, 255, 0.698);
    row-gap:30px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top:70px;
    overflow: hidden;
    z-index: 8;
    display: none;
} */

.menu_items{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
}
.menu_items:hover{
    color: var(--white-color);
    transform: scale(1.1);
}
.sidebar i{
    /* margin-bottom: 40px; */
    font-size:1.2rem
}
/* *********************************************** */

.main_content_container{
    width: 100%;
    padding-top:80px;
    padding-left: 50px;
    padding-right: 50px;
    min-height:calc(100% - 50px);
    background-color: var(--black-color-light);
}
.movies_container{
    padding: 20px 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}



.movie_card{
    width: 18%;
    height: auto;
    background-color:rgba(0,0,0,0.9); 
    color: #fff;
    cursor: pointer;
    border-radius:10px;
    overflow: hidden;
}
.movie_card_img{
    border-radius:10px;
    width: 100%;
    height: 200px;
    overflow: hidden;
    /* background-color:blue; */
}
.movie_card_img img{
    max-width: 100%;
    height: auto;
    transition: transform .2s ease-out;
}
.movie_card:hover .movie_card_img img{
    transform: scale(1.05);
}
.movie_details{
    position: relative;
    padding: 10px;
}
.movie_title{
    margin-bottom: 5px;
    line-height:1.2;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
}

.genre{
    margin-right: 8px;
    color: var(--off-white);
    
}
.year{
    color: lightgray;
}
.movie_details a{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 30%;
    right: 5%;
    text-decoration: none;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
}
.movie_details i{
    color: #fff;
}

/* banner styles */

.banner{
    margin-bottom:20px;
    margin-top:20px;
    width: 100%;
    /* margin:0 auto; */
    /* background-color:yellow;  */
}
.banner_card{
    height: 350px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
}
.banner_card::before{
    content: "";
    position: absolute;
    color: #fff;
    z-index: 5;
    /* inset: 0; */
    width: 100%;
    height: 100%;
    background-image:linear-gradient(180deg,rgba(0,0,0,0.2) 10%,rgba(0,0,0,0.7) )
}

.banner_card img{
    width: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
    transition: all 0.2s ease-in;
}
.banner_card:hover .banner_img{
    transform: scale(1.1);
}


.card_content{
    position:absolute;
    z-index: 5;
    /* background-color: skyblue; */
    left: 80px;
    pointer-events: none;
    right: 80px;
    top: 50%;
    font-family: 'Bebas Neue';
    letter-spacing: 3px;
}
.card_info{
    display:flex;
    padding:10px;
    align-items: center;
    column-gap:20px;
    font-size:1.1rem
}
.card_info div{
    display:flex;
    align-items: center;
    column-gap:10px;
}
.card_info i{
    color: var(--white-color);
    font-size:1.2rem;
}
.card_info span{
    color: #f1f1f1;
    font-weight:bold;
}
.quality{
    width: 35px;
    border-radius:6px;
    height: 25px;
    background-color:var(--white-color);
    padding: 5px;
}
.card_content h1{
    /* background-color:blue; */
    font-size:3rem;
    color: #fff;
}
.card_content a{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 30%;
    right: 5%;
    text-decoration: none;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
}
.card_info>a >i{
    color: #fff;
}

/* Footer styles */

/* .banner{
    width: 100%;
} */


/* footer styles */

footer{
    width: 100%;
    background-color: var(--black-color-light);
    padding: 1em 0;
    flex-wrap: wrap;
    display: flex;
}

.footer_wrapper{
    width: 90%;
    margin-left: 5%;   
    display: flex;
    flex-direction: column;
    /* background-color:yellow; */
    padding: 4% 2% 2% 2%;
}

.socials{
    width: 25%;
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
}
.socials>i{
    color: var(--white-color);
    transition:color .2s ease-in-out;   

}
.socials>i:hover{
    color: var(--white-color);
}

.footer_links{
    display: flex;
    align-items: flex-start;
    margin-top: 1%;
    font-size: .9rem;
    flex-wrap: wrap;
    list-style: none;
    padding:20px;
    /* background-color: red; */
}

.footer_links > li{
    flex-basis: 25%;
    padding: 5px;
    font-size: 1.2rem;
}

.footer_links > li > a{
    text-decoration: none;
    color: #999;
    transition:color .3s ease-in-out;
}
.footer_links > li > a:hover{
    text-decoration: underline;
    color:var(--white-color);
}
.footer_button{
    margin-top: 2%;
}

.footer_btn{
    display: flex;
    flex-direction: start;
    background-color: #141414;
    border: 1px solid #E0BB20;
    color: #E0BB20;
    padding: .3em .5em;
    font-size: 1rem;
    margin-left: 1.1rem;
}

.copy_right{
    margin-left: 1rem;
    color: #E0BB20;
    margin-top: 2%;
    font-size: .7rem;
    font-family: poppins;
    font-style: normal;

}


/* Movie slide section */

.movie_cards_section{
    width: 100%;
    padding: 20px 0;
    background-color: black;
    position: relative;
    /* z-index: 3; */

}
.card_container{
    width: 95%;
    margin: 0 auto;
}
.card-wrapper{
    position: relative;
    /* background-color: red; */
}

.section_head{
    padding:20px 0;
    color: var(--white-color);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
}

.card_row{
    display: flex;
    column-gap: 20px;
    /* background-color:yellow; */
    padding:20px;
    align-items: center;
    justify-content: center;
    overflow-x:scroll;
    position:relative;
    z-index: 2;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;    
    
}
.card_row::-webkit-scrollbar{
    /* visibility: hidden; */
    display: none;
    
}
.cards{
    flex-shrink: 0;
    height: 250px;
    cursor: pointer;
    /* z-index: 1; */
    position: relative;
    transition: all 0.2s ease-in-out;
    border-radius:10px;
    overflow: hidden;
}
.cards_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius:10px;
    /* background-color:rgba(0,0,0,0); */
    top: 0;
}
.cards_overlay>a{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%) scale(0);
    text-decoration: none;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    transition: all 0.3s ease-in-out;
    background-color: var(--white-color);
}

.cards:hover .cards_overlay{
    backdrop-filter: blur(3px);
}
.cards:hover .cards_overlay>a{
    transform: scale(1.1);
}



.cards_overlay>span>a{
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    display: block;
    top: 50%; 
    left: 40%;
    transform: translate(-50%,-50%) scale(0);
    transition: all 0.3s ease-in-out;
}
.cards:hover .cards_overlay>span>a{
    transform: scale(1.1);   
    top: 65%; 
    left: 25%; 

}
.cards:hover  img {
    transform: scale(1.1);    
}
.cards img{
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
    
}

.buttons{
    /* background-color:red; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display:flex;
    color:yellow;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
.buttons button{
    background-color:rgb(0 0 0 / 80%);
    padding: 10px;
    color: white;
    font-size: 1.5rem;
    z-index: 2;
    cursor: pointer;
}