@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Sen:wght@400;700;800&display=swap');

/* font-family: 'Roboto', sans-serif;
font-family: 'Sen', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

:root{
    --black-color: #000;
    --black-color-light:#151515;
    --white-color: #E0BB20;
    --off-white:#e1e1e1;
}
.active{
    font-weight: bold;
}
.navbar{
    width: 100%;
    height: 50px;
    background-color: var(--black-color);
}
.navbar_container{
    display:flex;
    align-items: center;
    height: 100%;
    /* background-color: red; */
    padding-left: 50px;
    padding-right: 50px;
    color:var(--white-color)
}
.logo_container{
    /* background-color: yellow; */
    flex: 1;
    margin-right:10px;
}
.logo{
    font-family: 'Sen', sans-serif;
}
.menu_container{
    flex: 4;
    flex-shrink: 5;
    /* background-color:blue; */
}
.searchBar{
    background-color:#fff;
    height:30px;
    width:450px;
    max-width:280px;
    padding: 0 10px;
    display:flex;
    align-items:center;
    column-gap: 20px;
    border-radius:2px;
    overflow:hidden;
    /* padding-top: 10px; */
}
.searchBar input{
    height:30px;
    width:90%;
    font-size:1rem;
    border: none;
    outline: none;
    text-indent: 5px;
}
.searchBar i{
    color: var(--white-color);
    cursor: pointer;
    font-weight: bold;
}
.menu_list{
    display: flex;
}
.menu_list_item{
    list-style: none;
    margin-left:40px;
}
.menu_list_item a {
    text-decoration: none;
    font-family: 'Sen', sans-serif;
    color:var(--off-white);
}
.profile_container{
    flex: 2;
    /* background-color:green; */
    display: flex;
    align-items: center;
    /* justify-content: flex-end; */
}
.user_img_container{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
}
.user_img_container img{
    width: 100%;
    object-fit: cover;
    height: auto;
}
.user_name_container{
    display: flex;
    color: #fff;
    align-items: center;
}

.name{
    padding-left: 5px;
}
.arrow{
    padding-left: 5px;
    font-size:1.2rem;
    padding-top: 3px;
}

/* ******************************************* */
.sidebar{
    width: 50px;
    height: 100%;
    background-color: var(--black-color);
    position:fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top:60px;
}
.sidebar i{
    margin-bottom: 40px;
    font-size:1.2rem
}
/* *********************************************** */

.main_content_container{
    width: 100%;
    padding-left: 50px;
    min-height:calc(1000vh - 50px);
    background-color: var(--black-color-light);
}
.movies_container{
    padding: 20px 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}



.movie_card{
    width: 18%;
    height: 250px;
    /* background-color: yellow; */
    position: relative;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
}
.movie_card_img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-color:blue; */
}
.movie_card_img img{
    width: 100%;
    /* height: auto; */
}
.movie_card_content{
    width: 100%;
    height: 100%;
    /* background-color:yellow; */
    background:linear-gradient(to bottom,rgba(0,0,0,.2),#151515e1);
    position: absolute;
    top: 270px;
    transition: all .5s ease-in-out;
    padding-top: 120px;
    padding-left: 20px;
    
}
.movie_card:hover .movie_card_content{
    top: 0;
    /* background:linear-gradient(to bottom,rgba(0,0,0,.3),#151515); */
}
.movie_details{
    padding: 10px;
    transform: scale(0);
    transform-origin: 100% 50%;
    transition: all 0.5s ease-in-out;
    background:linear-gradient(to bottom,rgba(0,0,0,.3),#151515);
}
.movie_card:hover .movie_details{
    transform: scale(1);
}

.movie_title{
    margin-bottom: 5px;
    letter-spacing: 2px;
}
.movie_rating{
    display: block;
    margin-bottom: 5px;
    color: var(--off-white);
    
}
.movie_date{
    color: lightgray;
}